<div class="container px-5 px-sm-0">
  <div class="row">
    <h1 class="active">マイページ</h1>
  </div>


  <div class="row">
    <h2>登録情報</h2>
    　<%= link_to "編集する", edit_public_costomer_path(current_customer.id), class: "btn btn-sm btn-success" %>
  </div>

  <div class="row">
    <div class="col-md-3">
      <table border="1">
        <tr>
          <td class="active">氏名</td>
          <td><%= @customer.@customer_name %></td>
        </tr>
        <tr>
          <td class="active">カナ</td>
          <td><%= @customer.@customer_name_kana %></td>
        </tr>
        <tr>
          <td class="active">郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td class="active">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="active">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="activ">メールアドレス</td>
          <td><%= customer.email %></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h2>配送先</h2>
      <%= link_to "一覧を見る", public_addresses_path(current_customer.id), class: "btn btn-primary" %>
    </div>
    <div class="row">
      <h2>注文履歴</h2>
      <%= link_to "一覧を見る", public_order_path(current_customer.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>

