<div class="container pt-5 px-sm-0">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h3><%= @customer.family_name %>  <%= @customer.first_name %>さんの会員情報編集</h3>
    </div>
  </div>
  <%= form_with model: @customer,url:admin_customer_path do |f| %>
    <div class="row mt-5">
      <div class="col-md-3">
        <%= f.label :会員ID %>
      </div>
      <div class ="col-md-5 text-left">
        <%= @customer.id %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :氏名 %>
      </div>
      <div class ="col-md-3">
        <%= f.text_field :family_name, autofocus: true, autocomplete: "name", class:"form-control",placeholder: '氏' %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :first_name, autocomplete: "name",  class:"form-control",placeholder: '名' %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :フリガナ %>
      </div>
      <div class ="col-md-3">
        <%= f.text_field :family_name_kana, autocomplete: "name", class:"form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :first_name_kana, autocomplete: "name",  class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :郵便番号 %>
      </div>
      <div class ="col-md-3">
        <%= f.text_field :post_code, autocomplete: "post_code", class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :住所 %>
      </div>
      <div class ="col-md-9">
        <%= f.text_field :address, autocomplete: "address", class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :電話番号 %>
      </div>
      <div class ="col-md-3">
        <%= f.text_field :telephone_number, autocomplete: "telephone_number", class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :メールアドレス %>
      </div>
      <div class ="col-md-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3">
        <%= f.label :会員ステータス %>
      </div>
      <div class ="col-md-3">
        <%= f.radio_button :is_deleted, false %> 有効
        <%= f.radio_button :is_deleted, true %> 退会
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <%= f.submit "変更を保存", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>