<div class='container'>
  <div class="row mt-3">
    <h4 class="col-md-3 bg-light text-center m-4 ">注文履歴詳細</h4>
  </div>

   <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>購入者</th>
            <td>
              <%= link_to admin_customer_path(@order.customer) do %>
                <%= @order.customer.family_name + @order.customer.first_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <th>支払い方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local:true do |f| %>
                <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]}, class: 'col-md-2' %>
                <%= f.submit '更新', class: 'btn btn-success ml-5' %>
              <% end %>
            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row mt-2">

    <div class="col-md-9">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="col-2">商品名</th>
            <th class="col-2">単価(税込)</th>
            <th class="col-2">数量</th>
            <th class="col-2">小計</th>
            <th class="col-3">製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= (order_item.price * 1.1).floor %></td>
            <td><%= order_item.quantity %></td>
            <td><%= ((order_item.price * 1.1) * order_item.quantity).floor %></td>
            <td>
              <%= form_with model: order_item, url: admin_order_item_path(order_item.id), local:true do |f| %>
              <%= f.select :making_status, OrderItem.making_statuses.keys.map {|k| [I18n.t("enums.order_item.making_status.#{k}"), k]} %>
              <%= f.submit '更新', class: 'btn btn-success ml-5' %>
              <% end %>
            </td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 mt-5">
      <table class="table table-borderless ml-4">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_payment - @shipping_cost.to_i %> 円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @shipping_cost %> 円</td>
          </tr>
          <tr>
            <th>請求合計金額</th>
            <td><%= @order.total_payment %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>