<div class="container">
  <div class="row">
    <h4 class="p-3"><span class="header">注文情報入力</span></h4>
  </div>


<%= form_with model: @order, url: orders_confilm_path, local: true do |f| %>

  <div class="row">
    <h5><span class="header">支払い方法</span></h5>
      <div class="col">
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
      </div>
  </div>

    <div class="row">
      <h5><span class="header">お届け先</span></h5>
    </div>

    <div class="row">
      <%= f.radio_button :address_number, 1 %>
      <%= f.label :address_number_1, "ご自身の住所" %>
      <br>
      <%= current_customer.address %>
    </div>
    <br>
    <div class="row">
      <%= f.radio_button :address_number, 2 %>
      <%= f.label :address_number_2, "登録済みの住所から選択" %>
    </div>

    <div class="row-md-8">
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      <%#= f.collection_select(:registered, current_customer.addresses.all, :id, :address) %>
    </div>
    <br>

    <form>
      <div class="row">
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, "新しいお届け先" %>
      </div>

      <div class="form-group row">
        <%= f.label :post_code, "郵便番号（ハイフンなし）", class:"col-sm-3 col-form-label" %>
        <div class="col-md-6">
          <%= f.text_field :post_code, placeholder: "0000000", class:"form-control"  %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :address, "住所", class:"col-sm-3 col-form-label" %>
        <div class="col-md-6">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control"  %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :address_name, "宛名", class:"col-sm-3 col-form-label"  %>
        <div class="col-md-6">
          <%= f.text_field :address_name, placeholder: "令和道子", class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
        </div>
      </div>
    </form>
  <% end %>
</div>